/* fonts  */
@font-face {
    font-family:"Raleway-regular";
    src:url(../fonts/Raleway-Regular.ttf)
}
@font-face {
    font-family:"Raleway-medium";
    src:url(../fonts/Raleway-Medium.ttf)
}
@font-face {
    font-family:"Raleway-bold";
    src:url(../fonts/Raleway-Bold.ttf)
}
@font-face {
    font-family:"Raleway-extrabold";
    src:url(../fonts/Raleway-ExtraBold.ttf)
}
@font-face {
    font-family:"Raleway-semibold";
    src:url(../fonts/Raleway-SemiBold.ttf)
}
@font-face {
    font-family:"Raleway-black";
    src:url(../fonts/Raleway-Black.ttf)
}


/* colors  */

:root {
    --primary:#EEBF00;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
}

/* Reset  */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    -webkit-font-smoothing:antialiased;
    font-family: "Raleway-regular";
}
.container {
    width:100%;
    padding:o 15px;
    margin:0 auto;
}

.hero-section {
    margin: 40px 0px;
    height: 450px;
    background-image: url('/images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    
}
.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle{
    display: flex;
}
.hero-text{
    text-align: left;
}
.hero-text h1{
    line-height: 40px;
    font-size: 40px;
    margin: 8px 0px;

}
.hero-p{
    color: var(--secondary);
    line-height: 20px;
    width: 80%;
    text-align: center;
}

.hero-button{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-column-gap: 20px;
 }

 .hero-button button{
    border: 1px solid transparent;
    border-radius: 4px;
 }


/* products slider  */
.products-slider{
    background-color:rgb(240, 239, 239);
    margin: 70px 0px;
}

 
.card{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    border: 1px solid #d7d2d2;
   
}
.card h3{
    margin: 15px 0px;
}
.card img {
    height: 200px!important;
    width: 200px !important;
    margin: 0 auto;
    display: block;
}

.star{
        display: flex;
        justify-content:center;
        align-items: center;
        
      }

.star img {
        height: 14px!important;
        width: 14px!important;
        margin: 2px!important;        
 }

.addCart{
background-color: var(--primary);
overflow: hidden;
display: flex;
justify-content: space-around;
/* height: 40px;*/
 width: 240px; 
 padding: 8px; 
align-items: center;
margin:0 auto;
}
 
.addCart img{
        height: 15px!important;
        width: 25px!important;
        overflow: hidden;
    }
.addCart button{
    padding:12px 30px;
    border: 0px;
    
}
    
/* about hakkani restudents  */
.about-restudent{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 15px;
}
.about-details h3{
    font-size: 1.4rem;
    color: var(--secondary);
    margin: 15px 0px;
    font-weight: bold;
}
.about-details p{
    text-align: justify;
    margin: 25px 0px;
}

/* our services sectios  */

.services-details{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    padding: 15px 40px;
    margin:30px 0px;
    /* background-color: gray; */

}
.service-1,
.service-2,
.service-3{
    padding: 15px;
    background-color: #fff;
    box-shadow: 1px 3px 1px #ddd;
    border: 1px solid #cdcdcd;
}

.services-details img{
    margin: 0 auto;
    display: block;
}
.services-details h3,p{
    text-align: center;
    line-height: 25px;
    margin: 15px 0px;
}
.service-1 button,.service-2 button,.service-3  button{
    margin: 0 auto;
    display: block;
    background-color: var(--footer);
    transition: 0.5 ease-in-out;
    padding: 7px 15px;
    font-size: 16px;
    color:#fff;
    border: 1px solid transparent;

}
.service-1 button:hover,.service-2 button:hover ,.service-3 button:hover {
    background-color: transparent;
    color:var(--footer);
    border:1px solid gray
}

























/* big deails section  */
.deals-offer{
    height: 450px;
    background-image: url('/images/food-table.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.offer-area{
    padding: 70px;
}

.offer-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time{
    background-color: var(--primary);
    flex-basis: 200px;
    text-align: center;
    margin: 10px;
    height: 150px;
    font-size: 20px;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-weight:bold;
    color:var(--heaven);
    padding-top: 50px;
}

/* blog area  */
.blog-area{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 20px;
    padding: 20px 40px;

   

}
.blog-1{
    background-color: var(--heaven);
    padding: 10px;
    box-shadow: 1px 2px 5px #999
}
.blog-1 img{
    width: 100%;
}
.blog-subtitle{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.blog-details1{
    display: flex;
    justify-content: space-around;
}

.blog-body{
    margin-top: 10px;
}
.blog-body h2{
    line-height: 27px;
    margin: 15px 0px;
}
.blog-body p{
    font-size: 15px;
    line-height: 24px;
}
/* newslater section  */
.newslater-area{
    background-color: var(--primary);
    height: 350px;

    display: flex;


   
}
.newslater-area img {
  flex-basis: 200px;
  flex-grow: 0;
}
.newsmim{
    flex-grow: 1;
}
.email-info{

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    height: 350px;
    grid-template-columns: auto;
}

.email-info h3{
    font-size: 28px;
    line-height: 49px;
}
.email-info p{
    width: 60%;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
}

input[type="email"] {
    padding: 14px 10px;
    width: 299px;
    display: inline-block;
    border-radius: 5px;
    outline: 0px;
    border: 0px;
}
/* contact us section  */

.contact-us{
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.contact-info{
    padding: 50px 90px;
}

.google-map{
    overflow: hidden;
}

.contact-header h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}
/* border of contact section  */
.contact-header img{
    display: block;
    margin: 0 auto;
}

.contact-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    align-items: center;
    margin-top: 25px;
}

.conact-indevidual{
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
}

 .info{
    width: 77%;
}


/* footer-top section  */

.footer-top{
    background-color: var(--secondary);
    height:320px;
    padding: 30px;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 15px;
    
}
.about-footer{}
.about-body p{
    margin: 10px 0px;
    color:var(--light);
    text-align: center;
    line-height: 22px;
    font-size: 14px;

}

.about-btn{
    margin: 15px auto;
    text-align: center;
    padding: 7px 18px;
    border: 1px solid rgb(117, 116, 116);
    transition: .75s ease-in-out;
    display: block;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
}

.about-btn:hover{
    border: 1px solid var(--primary);
}
 
.quick-footer{

}

.footer-nav-link,.social-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:200px;
    color:var(--light);
    font-size: 16px;
    line-height: 25px;
}
.follow-footer{
   
}

.social{
    display: flex;
    justify-content: space-between;
    width: 85px;
}
.gallary-footer{
   
}

.gallary-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:4px;
    grid-row-gap: 7px;
    
}
.gallary-items img{
    width: 100%;
    height: 60px;
}

.footer-title{
    text-align: center;
    color: var(--pure);
}
.footer-title h5{
    font-size: 18px;
    line-height: 50px;
    border-bottom: 1px solid #EEBF00;
    width: 60%;
    margin: auto;
    
}

/* copyright bottom footer  */
.copyright-footer{
    background-color: var(--footer);
    color: #FEFEFE;
     padding: 14px 0px;
}
.copyright-footer p{
    font-size: 12px;
    text-align: center;
   
}