/* fonts  */
@font-face {
    font-family:"Raleway-regular";
    src:url(../fonts/Raleway-Regular.ttf)
}
@font-face {
    font-family:"Raleway-medium";
    src:url(../fonts/Raleway-Medium.ttf)
}
@font-face {
    font-family:"Raleway-bold";
    src:url(../fonts/Raleway-Bold.ttf)
}
@font-face {
    font-family:"Raleway-extrabold";
    src:url(../fonts/Raleway-ExtraBold.ttf)
}
@font-face {
    font-family:"Raleway-semibold";
    src:url(../fonts/Raleway-SemiBold.ttf)
}
@font-face {
    font-family:"Raleway-black";
    src:url(../fonts/Raleway-Black.ttf)
}


/* colors  */

:root {
    --primary:#EEBF00;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
}

/* Reset  */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    -webkit-font-smoothing:antialiased;
    font-family: "Raleway-regular";
}
.container {
    width:100%;
    padding:o 15px;
    margin:0 auto;
}

/* footer-top section  */

.footer-top{
    background-color: var(--secondary);
    height:300px;
    padding: 30px;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 15px;
    
}
.about-footer{}
.about-body p{
    margin: 10px 0px;
    color:var(--light);
    text-align: center;
    line-height: 22px;
    font-size: 14px;

}

.about-btn{
    margin: 15px auto;
    text-align: center;
    padding: 7px 18px;
    border: 1px solid rgb(117, 116, 116);
    transition: .75s ease-in-out;
    display: block;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
}

.about-btn:hover{
    border: 1px solid var(--primary);
}
 
.quick-footer{

}

.footer-nav-link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:190px;
    color:var(--light);
    font-size: 14px;
}
.follow-footer{
    border: 1px solid salmon;
}
.gallary-footer{
   
}

.gallary-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:4px;
    grid-row-gap: 7px;
    
}
.gallary-items img{
    width: 100%;
    height: 60px;
}

.footer-title{
    text-align: center;
    color: var(--pure);
}
.footer-title h5{
    font-size: 18px;
    line-height: 50px;
    border-bottom: 1px solid #EEBF00;
    width: 60%;
    margin: auto;
    
}

/* copyright bottom footer  */
.copyright-footer{
    background-color: var(--footer);
    color: #FEFEFE;
     padding: 14px 0px;
}
.copyright-footer p{
    font-size: 12px;
    text-align: center;
   
}